<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>product list</h1>
    <ul>
        {{#each products}}
        <li>{{this.title}}</li>
        {{/each}}
    </ul>
</body>

</html>