<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-time Product List</title>
</head>
<body>
<h1>Real-time Product List</h1>
<ul id="product-list">
    {{#each products}}
        <li>{{this.title}} - ${{this.price}}</li>
    {{/each}}
</ul>


<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const productList = document.getElementById('product-list');

    socket.on('updateProducts', (products) => {
        productList.innerHTML = '';
        products.forEach(product => {
            const li = document.createElement('li');
            li.textContent = `${product.title} - $${product.price}`;
            productList.appendChild(li);
        });
    });
</script>
</body>
</html>